<p>
  <strong>Titulo: </strong>
  <%= @article.title %>
</p>

<p>
  <strong>Texto: </strong>
  <%= @article.text %>
</p>

<% if user_signed_in? %>
<%= link_to 'Edit Article', edit_article_path(@article) %>
<% end %>

<h2>Comments</h2>
<%= render @article.comments.last(10) %>
<!--Displays the most recent 10 comments-->

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Back', articles_path %>

